body {
  background-color: #FAF8F3;
  font-family: "Nanum Gothic Coding", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  
}
/* a 태그 사용 시 밑줄과 색 변경 제거 */
a {
  text-decoration: none;
  color: inherit;
}
/* 헤더 태그들 */
.header {
  background-color: #fff;
  width: 100vw;
  height: 8%;
  margin: 0;
  /* border-bottom: 1px solid #e0e0e0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); */
}
.h_div {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b_div {
  margin: 10px;
}
.title {
  font-size: 25px;
  font-weight: 500;
  color:  #FF6F0E;
  margin-bottom: 3px;
  font-family: "Jua", sans-serif;
}
.title_contents {
  font-size: 25px;
  font-weight: 700;
  color: black;
  margin-bottom: 3px;
  margin-left: 15px;
}
/* 하단 contents */
.main {
  display: flex;
  align-items: center;
  height: 93%;
}
/* 메뉴바 태그들 */
.menu {
  background-color: #F8F5F4;
  width: 250px;
  height: 100%;
  margin: 0;
  /* border-right: 1px solid #e0e0e0; */
}
.m_div {
  width: 100%;
  height: 5vh;
  padding-top: 30px;
  background-color: #F8F5F4;
}
.m_div:hover {
  color: #ffffff;
  background-color: #EED5BB;
}
.m_div a {
  color: #222222;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.m_div a:hover {
  color: #ffffff;
}
.m_div_selected {
  /* 선택된 메뉴 색상 */
  width: 100%;
  height: 5vh;
  padding-top: 30px;
  background-color: #fcb43b;
}
.m_div_selected:hover {
  color: #ffffff;
  background-color: #eed5bb;
}
.m_div_selected a {
  color: #222222;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.m_div_selected a:hover {
  color: #ffffff;
}
.bottom {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: max-content;
  height: 20%;
  color: #000000;
  border-radius: 20px; 
  margin-bottom: 25px;
  margin-left: 20px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom tbody {
  margin: 0 auto;
  
}
.bottom tr {
  padding-bottom: 5px;
  
}
.todaytable {
  color: #95df70;
  font-size: 13px;
  font-weight: 700;
}
.contents {
  width: 700px;
  height: 50%;
  margin: 0 auto;
  padding-bottom: 250px;
}
.contents_header {
  width: 100%;
  margin-bottom: 15px;
}
.btn_div {
  margin: 15px;
}
.custom_button {
  font-size: 17px;
  background-color: #FF6F0E; /* 배경색 */
  color: white; /* 글자색 */
  padding: 10px 15px; /* 안쪽 여백 */
  border: none; /* 테두리 없음 */
  border-radius: 5px; /* 모서리를 둥글게 만듦 */
  cursor: pointer; /* 포인터로 마우스 모양 변경 */
}
/* .custom_button:hover {
  background-color: #45a049;
} */
.image-container {

  border-radius: 10px; /* 원형 모서리 */
  overflow: hidden; /* 내부 내용이 넘치면 숨김 */
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  object-fit: cover; /* 이미지를 확대 또는 축소하여 컨테이너에 꽉 채움 */
  border-radius: 10px; /* 이미지의 모서리도 둥글게 */
}