body {
    background-color: #f6f8fc;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100vh;
    margin: 0;
}
/* a 태그 사용 시 밑줄과 색 변경 제거 */
a {
    text-decoration: none;
    color: inherit;
}
/* 헤더 태그들 */
.header {
    background-color: white;
    width: 100vw;
    height: 7%;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h_div {
    margin: 25px;
}
.title {
    font-size: 30px;
    /* 폰트 굵기 100-700 */
    font-weight: 700;
}
/* 하단 contents */
.main {
    display: flex;
    align-items: center;
    height: 93%;
}
/* 메뉴바 태그들 */
.menu {
    background-color: white;
    width: 300px;
    height: 100%;
    margin: 0;
    border-right: 1px solid #e0e0e0;
}
.m_div {
    width: 100%;
    height: 5vh;
    padding-top: 10px;
}
.m_div:hover {
    background-color: #e0e8f6;
}
.m_div a{
    color: #191919;
    font-size: 25px;
    /* 폰트 굵기 100-700 */
    font-weight: 600;
    margin-left: 50px;
}