body {
    background-color: #f6f8fc;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100vh;
    margin: 0;
    
}
/* a 태그 사용 시 밑줄과 색 변경 제거 */
a {
    text-decoration: none;
    color: inherit;
}
/* 헤더 태그들 */
.header {
    background-color: #0F172A;
    width: 100vw;
    height: 10%;
    margin: 0;
    /* border-bottom: 1px solid #e0e0e0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h_div {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.b_div {
    margin: 10px;
}
.title {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 3px;
}
.title_contents {
    font-size: 25px;
    font-weight: 700;
    color: black;
    margin-bottom: 3px;
    margin-left: 15px;
}
/* 하단 contents */
.main {
    display: flex;
    align-items: center;
    height: 93%;
}
/* 메뉴바 태그들 */
.menu {
    background-color: #0f172a;
    width: 220px;
    height: 100%;
    margin: 0;
    padding-top: 20px;
    /* border-right: 1px solid #e0e0e0; */
}
.m_div {
    width: 100%;
    height: 5vh;
    padding-top: 10px;
}
.m_div a:hover {
    color: #3b82f6;
}
.m_div a {
    color: #e0e8f6;
    font-size: 13px;
    margin: 10px;
}
.bottom {
    position: fixed;
    bottom: 0;
    background-color: #0F172A;
    width: max-content;
    height: 24%;
    color: white;
}
.todaytable {
    color: #3b82f6;
    font-size: 17px;
}
.contents {
    width: 70%;
    height: 100%;
    padding-top: 120px;
    margin: 0 auto;
}
.contents_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
.contents_select {
    width: auto;
    height: auto;
    margin-right: 15px;
    padding: 8px 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;

}
.contents_table {
    width: 100%;
    background-color: #ffffff;
    border: 0px;
    color: #303030;
    border-collapse: collapse;

}
.contents_table thead {
    background-color: #ffffff;
    color: #2d2d2d;
}
.contents_table th {
    padding: 20px;
    border-bottom: 1px solid #dddddd;
}
.contents_table td {
    text-align: center;
    padding: 20px;
}
.contents_table tr:nth-child(even) {
    text-align: center;
    background-color: #f7f7f7;
}


